@font-face {
  font-family: 'iconfont';  /* project id 1143405 */
  src: url('//at.alicdn.com/t/font_1143405_m6yniilgs5p.eot');
  src: url('//at.alicdn.com/t/font_1143405_m6yniilgs5p.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1143405_m6yniilgs5p.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1143405_m6yniilgs5p.woff') format('woff'),
  url('//at.alicdn.com/t/font_1143405_m6yniilgs5p.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1143405_m6yniilgs5p.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiezilou:before {
  content: "\e630";
}

.icon-dingwei:before {
  content: "\e7c4";
}

.icon-caidan:before {
  content: "\e67c";
}

.icon-fangzu:before {
  content: "\e60f";
}

.icon-shaixuan:before {
  content: "\e64d";
}

.icon-tongzhi:before {
  content: "\e606";
}

.icon-xiala:before {
  content: "\e608";
}

.icon--shangpu:before {
  content: "\e68c";
}

