@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1555322521267'); /* IE9 */
  src: url('iconfont.eot?t=1555322521267#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALIAAsAAAAABswAAAJ7AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBNIE2ATYCJAMMCwgABCAFhG0HOBv+BcgekiQlKiRQSN9Y0jLAczy87fd57sy8twhuVwE6Br9quYCq8YAWyDWN5/jaqgrfNJ519Z9c05TYbaq7nC/LIauSfUy+6XM+Y9SEDliJVchN1g27aBb7nwGX0/+vLNs4DyjHtTc/tYDigALdA6PIShNJiBvGLnAJ9wm0Gpbi2hueLIOgwloWiFtEEUAwl1AUVm4W6pq9RbxWaU5P0jsAXoWfj3+gEEGSKrPWHtwckkHvz+bmYn7cWHXuE5IEeLhCxgygEBdrC8c8gnE8Wg3e9vpaEdJc6caECl1X2394JEHUrNZ2MIGKiZ/NriI13oequ74rgxoFi4B1FrufMIuOb+u+tPYYSTz7tHoXjj/9DDJnOuWD/Zbq0dn5bWvs8N3pCSklZrua2DDsj/YNdflv9PXQ9uDNn93fSt74ltwC8KyfyW/SLABkqY8LwZedTi6x9r85UsD3HzNvQ0fRv9gswZR/UNmzp+hqy5mLqnAVZigbv5t8Qqse1mBFen2OtwzcpS8055QMSZMhZM1GyMKaQaXNHGrNNtFq2sjhNn0ojygtmLIFELq9Iun0FVm3BllYH6gM+kKtOzxodRh9Z7YZCxLepUhgSIbiHCSSaWDHzcJRexEpU5pAs+pQVEXUIWmYz+SK5RFkIDrHBmdaKTCGIaamDofBY0jTTGhRs44klqkxZrVns7juRRnJ1EHYLgoRMIgMEs2BCInJgP3xTLj0/iJEMUUjoC20mnwVQjnI9FBeRq4HOWIwetHu5RnHNEUBw2AQRpl00DCYhWg0Jsiqn1WHSJiM2oicpV3WHoT7GjLrm/TvOwGtrGtzpMhR1NcEIguG7zYRNAEAAA==') format('woff2'),
  url('iconfont.woff?t=1555322521267') format('woff'),
  url('iconfont.ttf?t=1555322521267') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1555322521267#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caidan:before {
  content: "\e67c";
}

.icon-xiala:before {
  content: "\e608";
}

