html,
body {
	height: 100%;
	overflow: hidden;
}

.mui-bar {
	-webkit-box-shadow: none;
	box-shadow: none;
}

input,
button,
.mui-btn {
	margin-top: 10px;
	margin-left: 5px;
}

.mui-table-view-cell.mui-active {
	background-color: #fff;
}